<html class="h-full bg-white">
    <head>
        <div th:replace="~{fragments/head}"></div>
        <style>
          .inline-content div {
            display: inline;
          }
          .inline-content {
            display: inline;
          }
          .inline-content > div {
            display: inline;
          }
        </style>
    </head>
    <body class="h-full" x-data="{ isSidebarOpen: false }">
      <div>
        <div th:replace="~{fragments/sidebar}"></div>

        <main class="py-10 lg:pl-72">
          <div class="px-4 sm:px-6 lg:px-8">
            <div>
              <div class="lg:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                    <span class="mr-2">#</span><span th:text="${channel.name}">Channel name</span>
                  </h2>
                </div>
                <div class="mt-5 flex lg:ml-4 lg:mt-0">
                  <span class="sm:ml-3">
                    <a th:href="@{/w/{workspaceId}/compose(workspaceId=${workspace.id}, channel=${channel.name})}"
                      class="inline-flex items-center rounded-md bg-cyan-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-1.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                      </svg>
                      New thread in #<span th:text="${channel.name}"></span>
                    </a>
                  </span>
                </div>
              </div>
            </div>

            <!-- Empty state -->
            <div th:if="${threads.size() == 0}" class="text-center">
              <img src="https://backend-prod.absurd.design/uploads/ckvtjdc08000114r081x1axyx.jpg" alt="Illustration" class="mx-auto h-80 text-gray-400">
              <h3 class="mt-2 text-sm font-semibold text-gray-900">No threads in #<span th:text="${channel.name}"></span></h3>
              <p class="mt-1 text-sm text-gray-500">Be the first to start a conversation in this channel!</p>
              <div class="mt-6">
                <a th:href="@{/w/{workspaceId}/compose(workspaceId=${workspace.id}, channel=${channel.name})}"
                  class="inline-flex items-center rounded-md bg-cyan-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                  <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>
                  New thread
                </a>
              </div>
            </div>

            <!-- Show pinned threads first -->
            <div th:if="${threads.size() > 0}" class="mt-8">

              <!-- Pinned threads -->
              <div class="mx-auto max-w-none" th:each="thread : ${threads}" th:if="${thread.pinned == true}">
                <a th:href="@{/w/{workspaceId}/t/{threadId}(workspaceId=${workspace.id}, threadId=${thread.id})}">
                  <div class="overflow-hidden bg-white hover:bg-cyan-50 rounded-lg">
                    <div class="px-4 py-5 sm:px-6">
                      <div class="flex space-x-3">
                        <div class="relative flex items-center justify-center w-5 h-5 text-gray-600">
                          <svg th:if="${thread.isPinned}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                          </svg>
                          <svg th:if="${thread.isClosed}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-cyan-600">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>
                          <svg class="h-2 w-2 text-red-600 fill-current absolute bottom-0 right-0" viewBox="0 0 6 6" aria-hidden="true" th:each="membership : ${thread.memberships}"
                            th:if="${membership.user.id == user.id && !membership.caughtUp}">
                            <circle cx="3" cy="3" r="3" />
                          </svg>
                        </div>
                        <div class="flex-shrink-0">
                          <img class="h-10 w-10 rounded-full" th:src="${'https://api.dicebear.com/9.x/initials/svg?seed=' + thread.createdBy.firstName + ' ' + thread.createdBy.lastName}" th:alt="${thread.createdBy.firstName + ' ' + thread.createdBy.lastName}">
                        </div>
                        <div class="min-w-0 flex-1">
                          <!-- Row 1: Title, Channel Badge, Comment Count -->
                        <div class="flex justify-between items-center gap-2">
                          <div class="flex-1 flex items-center gap-2 min-h-[1.5rem] overflow-hidden">
                            <span class="text-sm font-semibold text-gray-900 truncate" th:text="${thread.title}"></span>
                          </div>

                          <div class="flex-shrink-0">
                            <span th:each="mem: ${thread.memberships}"
                              th:if="${mem.user.id == user.id}"
                              class="relative inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-700 ring-1 ring-inset ring-gray-600/10">
                              <span th:text="${thread.posts.size()}"></span><span class="ml-1">comment<span th:text="${thread.posts.size() != 1 ? 's' : ''}"></span></span>
                              <svg th:if="${!mem.caughtUp}" class="h-2 w-2 text-red-600 fill-current absolute -top-1 -right-1" viewBox="0 0 6 6" aria-hidden="true">
                                <circle cx="3" cy="3" r="3" />
                              </svg>
                            </span>
                          </div>
                        </div>

                        <!-- Last Post Preview with Date -->
                        <div class="flex justify-between items-baseline gap-2 mt-2" th:if="${!thread.posts.empty}">
                          <div class="text-sm inline-content line-clamp-2 flex-1 min-w-0">
                            <span th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                                  th:utext="${lastPost.content}"></span>
                            <span class="text-sm text-gray-400" th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                                  th:text="${lastPost.createdBy.firstName + ' ' + lastPost.createdBy.lastName + ': '}"></span>
                            <span class="text-xs text-gray-400 whitespace-nowrap flex-shrink-0"
                            th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                            th:text="${#dates.format(lastPost.createdAt, 'MMM d, h:mm a')}">
                          </span>
                          </div>
                        </div>
                          <div class="text-sm text-gray-500 mt-2" th:if="${thread.posts.empty}">
                            No posts in this thread yet.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Open (not closed) threads -->
              <div class="mx-auto max-w-none" th:each="thread : ${threads}" th:if="${thread.pinned == false && thread.isClosed == false}">
                <a th:href="@{/w/{workspaceId}/t/{threadId}(workspaceId=${workspace.id}, threadId=${thread.id})}">
                  <div class="overflow-hidden bg-white hover:bg-cyan-50 rounded-lg">
                    <div class="px-4 py-5 sm:px-6">
                      <div class="flex space-x-3">
                        <div class="relative flex items-center justify-center w-5 h-5 text-gray-600">
                          <svg th:if="${thread.isPinned}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                          </svg>
                          <svg th:if="${thread.isClosed}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-cyan-600">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>
                          <svg class="h-2 w-2 text-red-600 fill-current absolute bottom-0 right-0" viewBox="0 0 6 6" aria-hidden="true" th:each="membership : ${thread.memberships}"
                            th:if="${membership.user.id == user.id && !membership.caughtUp}">
                            <circle cx="3" cy="3" r="3" />
                          </svg>
                        </div>
                        <div class="flex-shrink-0">
                          <img class="h-10 w-10 rounded-full" th:src="${'https://api.dicebear.com/9.x/initials/svg?seed=' + thread.createdBy.firstName + ' ' + thread.createdBy.lastName}" th:alt="${thread.createdBy.firstName + ' ' + thread.createdBy.lastName}">
                        </div>
                        <div class="min-w-0 flex-1">
                          <!-- Row 1: Title, Channel Badge, Comment Count -->
                        <div class="flex justify-between items-center gap-2">
                          <div class="flex-1 flex items-center gap-2 min-h-[1.5rem] overflow-hidden">
                            <span class="text-sm font-semibold text-gray-900 truncate" th:text="${thread.title}"></span>
                          </div>

                          <div class="flex-shrink-0">
                            <span th:each="mem: ${thread.memberships}"
                              th:if="${mem.user.id == user.id}"
                              class="relative inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-700 ring-1 ring-inset ring-gray-600/10">
                              <span th:text="${thread.posts.size()}"></span><span class="ml-1">comment<span th:text="${thread.posts.size() != 1 ? 's' : ''}"></span></span>
                              <svg th:if="${!mem.caughtUp}" class="h-2 w-2 text-red-600 fill-current absolute -top-1 -right-1" viewBox="0 0 6 6" aria-hidden="true">
                                <circle cx="3" cy="3" r="3" />
                              </svg>
                            </span>
                          </div>
                        </div>

                        <!-- Last Post Preview with Date -->
                        <div class="flex justify-between items-baseline gap-2 mt-2" th:if="${!thread.posts.empty}">
                          <div class="text-sm inline-content line-clamp-2 flex-1 min-w-0">
                            <span th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                                  th:utext="${lastPost.content}"></span>
                            <span class="text-sm text-gray-400" th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                                  th:text="${lastPost.createdBy.firstName + ' ' + lastPost.createdBy.lastName + ': '}"></span>
                            <span class="text-xs text-gray-400 whitespace-nowrap flex-shrink-0"
                            th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                            th:text="${#dates.format(lastPost.createdAt, 'MMM d, h:mm a')}">
                          </span>
                          </div>
                        </div>
                          <div class="text-sm text-gray-500 mt-2" th:if="${thread.posts.empty}">
                            No posts in this thread yet.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Closed threads -->
              <div class="mx-auto max-w-none" th:each="thread : ${threads}" th:if="${thread.pinned == false && thread.isClosed == true}">
                <a th:href="@{/w/{workspaceId}/t/{threadId}(workspaceId=${workspace.id}, threadId=${thread.id})}">
                  <div class="overflow-hidden bg-white hover:bg-cyan-50 rounded-lg">
                    <div class="px-4 py-5 sm:px-6">
                      <div class="flex space-x-3">
                        <div class="relative flex items-center justify-center w-5 h-5 text-gray-600">
                          <svg th:if="${thread.isPinned}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                          </svg>
                          <svg th:if="${thread.isClosed}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-cyan-600">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>
                          <svg class="h-2 w-2 text-red-600 fill-current absolute bottom-0 right-0" viewBox="0 0 6 6" aria-hidden="true" th:each="membership : ${thread.memberships}"
                            th:if="${membership.user.id == user.id && !membership.caughtUp}">
                            <circle cx="3" cy="3" r="3" />
                          </svg>
                        </div>
                        <div class="flex-shrink-0">
                          <img class="h-10 w-10 rounded-full" th:src="${'https://api.dicebear.com/9.x/initials/svg?seed=' + thread.createdBy.firstName + ' ' + thread.createdBy.lastName}" th:alt="${thread.createdBy.firstName + ' ' + thread.createdBy.lastName}">
                        </div>
                        <div class="min-w-0 flex-1">
                          <!-- Row 1: Title, Channel Badge, Comment Count -->
                        <div class="flex justify-between items-center gap-2">
                          <div class="flex-1 flex items-center gap-2 min-h-[1.5rem] overflow-hidden">
                            <span class="text-sm font-semibold text-gray-900 truncate" th:text="${thread.title}"></span>
                          </div>

                          <div class="flex-shrink-0">
                            <span th:each="mem: ${thread.memberships}"
                              th:if="${mem.user.id == user.id}"
                              class="relative inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-700 ring-1 ring-inset ring-gray-600/10">
                              <span th:text="${thread.posts.size()}"></span><span class="ml-1">comment<span th:text="${thread.posts.size() != 1 ? 's' : ''}"></span></span>
                              <svg th:if="${!mem.caughtUp}" class="h-2 w-2 text-red-600 fill-current absolute -top-1 -right-1" viewBox="0 0 6 6" aria-hidden="true">
                                <circle cx="3" cy="3" r="3" />
                              </svg>
                            </span>
                          </div>
                        </div>

                        <!-- Last Post Preview with Date -->
                        <div class="flex justify-between items-baseline gap-2 mt-2" th:if="${!thread.posts.empty}">
                          <div class="text-sm inline-content line-clamp-2 flex-1 min-w-0">
                            <span th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                                  th:utext="${lastPost.content}"></span>
                            <span class="text-sm text-gray-400" th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                                  th:text="${lastPost.createdBy.firstName + ' ' + lastPost.createdBy.lastName + ': '}"></span>
                            <span class="text-xs text-gray-400 whitespace-nowrap flex-shrink-0"
                            th:with="lastPost=${thread.posts[thread.posts.size() - 1]}"
                            th:text="${#dates.format(lastPost.createdAt, 'MMM d, h:mm a')}">
                          </span>
                          </div>
                        </div>
                          <div class="text-sm text-gray-500 mt-2" th:if="${thread.posts.empty}">
                            No posts in this thread yet.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </main>
      </div>

      <div th:replace="~{fragments/javascript}"></div>
    </body>
</html>
