<html class="h-full bg-white">
    <head>
        <div th:replace="~{fragments/head}"></div>
    </head>
    <body class="h-full" x-data="{ isSidebarOpen: false }">
      <div>
        <div th:replace="~{fragments/sidebar}"></div>
      
        <main class="py-10 lg:pl-72">
          <div class="px-4 sm:px-6 lg:px-8">
            <!-- Add logout button -->
            
            <form th:action="@{/logout}" method="post" class="flex items-center">
              <button type="submit" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                  Logout
              </button>
            </form>

            
          </div>
        </main>
      </div>
    </body>
</html>

<script>
  function submitForm() {
    this.isSubmitting = true;
    // Simulate form submission (replace with actual form submission logic)
    setTimeout(() => {
      document.querySelector('form').submit();
    }, 1000);
  }
</script>